
.metadata/.log
.metadata/.plugins/org.eclipse.core.resources/.projects/Authorization-Microservices/1.tree
.metadata/.plugins/org.eclipse.core.resources/.projects/Consumer-Microservice/1.tree
.metadata/.plugins/org.eclipse.core.resources/.projects/DiscoveryServer/1.tree
.metadata/.plugins/org.eclipse.core.resources/.projects/PolicyAdministration/1.tree
.metadata/.plugins/org.eclipse.core.resources/.root/.indexes/properties.index
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.jdt.ui.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.ui.browser.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.ui.ide.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.wst.server.core.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.springsource.ide.eclipse.commons.configurator.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.springsource.ide.eclipse.commons.core.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.springsource.ide.eclipse.dashboard.ui.prefs
.metadata/.plugins/org.eclipse.jdt.core/index.db
.metadata/.plugins/org.eclipse.jdt.core/javaLikeNames.txt
.metadata/.plugins/org.eclipse.jdt.launching/.install.xml
.metadata/.plugins/org.eclipse.jdt.launching/libraryInfos.xml
.metadata/.plugins/org.eclipse.m2e.logback.configuration/logback.1.12.0.20190529-1916.xml
.metadata/.plugins/org.eclipse.rse.core/.log
.metadata/.plugins/org.eclipse.rse.core/initializerMarks/org.eclipse.rse.internal.core.RSELocalConnectionInitializer.mark
.metadata/.plugins/org.eclipse.ui.workbench/workingsets.xml
.metadata/.plugins/org.springsource.ide.eclipse.commons.gettingstarted/dashboard/1623602427286/common/bootstrap-datetimepicker/js/bootstrap-datetimepicker.min.js
.metadata/.plugins/org.springsource.ide.eclipse.commons.gettingstarted/dashboard/1623602427286/common/bootstrap/css/bootstrap.css
.metadata/.plugins/org.springsource.ide.eclipse.commons.gettingstarted/dashboard/1623602427286/common/bootstrap/css/bootstrap.min.js
.metadata/.plugins/org.springsource.ide.eclipse.commons.gettingstarted/dashboard/1623602427286/common/bootstrap/js/bootstrap-datetimepicker/js/bootstrap-datetimepicker.min.js
.metadata/.plugins/org.springsource.ide.eclipse.commons.gettingstarted/dashboard/1623602427286/common/bootstrap/js/bootstrap.min.js
.metadata/.plugins/org.springsource.ide.eclipse.commons.gettingstarted/dashboard/1623602427286/common/css/application.css
.metadata/.plugins/org.springsource.ide.eclipse.commons.gettingstarted/dashboard/1623602427286/common/css/blog.css
.metadata/.plugins/org.springsource.ide.eclipse.commons.gettingstarted/dashboard/1623602427286/common/css/buttons.css
.metadata/.plugins/org.springsource.ide.eclipse.commons.gettingstarted/dashboard/1623602427286/common/css/dashboard.css
.metadata/.plugins/org.springsource.ide.eclipse.commons.gettingstarted/dashboard/1623602427286/common/css/docs.css
.metadata/.plugins/org.springsource.ide.eclipse.commons.gettingstarted/dashboard/1623602427286/common/css/flexbox.css
.metadata/.plugins/org.springsource.ide.eclipse.commons.gettingstarted/dashboard/1623602427286/common/css/font-awesome.css
.metadata/.plugins/org.springsource.ide.eclipse.commons.gettingstarted/dashboard/1623602427286/common/css/fontcustom.css
.metadata/.plugins/org.springsource.ide.eclipse.commons.gettingstarted/dashboard/1623602427286/common/css/highlight.css
.metadata/.plugins/org.springsource.ide.eclipse.commons.gettingstarted/dashboard/1623602427286/common/css/homepage.css
.metadata/.plugins/org.springsource.ide.eclipse.commons.gettingstarted/dashboard/1623602427286/common/css/icons.css
.metadata/.plugins/org.springsource.ide.eclipse.commons.gettingstarted/dashboard/1623602427286/common/css/main.css
.metadata/.plugins/org.springsource.ide.eclipse.commons.gettingstarted/dashboard/1623602427286/common/css/markdown-content.css
.metadata/.plugins/org.springsource.ide.eclipse.commons.gettingstarted/dashboard/1623602427286/common/css/panes.css
.metadata/.plugins/org.springsource.ide.eclipse.commons.gettingstarted/dashboard/1623602427286/common/css/projects.css
.metadata/.plugins/org.springsource.ide.eclipse.commons.gettingstarted/dashboard/1623602427286/common/css/responsive.css
.metadata/.plugins/org.springsource.ide.eclipse.commons.gettingstarted/dashboard/1623602427286/common/css/tools.css
.metadata/.plugins/org.springsource.ide.eclipse.commons.gettingstarted/dashboard/1623602427286/common/css/typography.css
.metadata/.plugins/org.springsource.ide.eclipse.commons.gettingstarted/dashboard/1623602427286/common/font-awesome/css/font-awesome.css
.metadata/.plugins/org.springsource.ide.eclipse.commons.gettingstarted/dashboard/1623602427286/common/font-custom/fontcustom.woff
.metadata/.plugins/org.springsource.ide.eclipse.commons.gettingstarted/dashboard/1623602427286/common/img/blog.png
.metadata/.plugins/org.springsource.ide.eclipse.commons.gettingstarted/dashboard/1623602427286/common/img/blog_32.png
.metadata/.plugins/org.springsource.ide.eclipse.commons.gettingstarted/dashboard/1623602427286/common/img/bug_32.png
.metadata/.plugins/org.springsource.ide.eclipse.commons.gettingstarted/dashboard/1623602427286/common/img/comparison_32.png
.metadata/.plugins/org.springsource.ide.eclipse.commons.gettingstarted/dashboard/1623602427286/common/img/compass.png
.metadata/.plugins/org.springsource.ide.eclipse.commons.gettingstarted/dashboard/1623602427286/common/img/compass_32.png
.metadata/.plugins/org.springsource.ide.eclipse.commons.gettingstarted/dashboard/1623602427286/common/img/extension.png
.metadata/.plugins/org.springsource.ide.eclipse.commons.gettingstarted/dashboard/1623602427286/common/img/extension_32.png
.metadata/.plugins/org.springsource.ide.eclipse.commons.gettingstarted/dashboard/1623602427286/common/img/favicon.png
.metadata/.plugins/org.springsource.ide.eclipse.commons.gettingstarted/dashboard/1623602427286/common/img/forum.png
.metadata/.plugins/org.springsource.ide.eclipse.commons.gettingstarted/dashboard/1623602427286/common/img/forum_32.png
.metadata/.plugins/org.springsource.ide.eclipse.commons.gettingstarted/dashboard/1623602427286/common/img/guides.png
.metadata/.plugins/org.springsource.ide.eclipse.commons.gettingstarted/dashboard/1623602427286/common/img/guides_32.png
.metadata/.plugins/org.springsource.ide.eclipse.commons.gettingstarted/dashboard/1623602427286/common/img/loading.gif
.metadata/.plugins/org.springsource.ide.eclipse.commons.gettingstarted/dashboard/1623602427286/common/img/logo_bigleaf.png
.metadata/.plugins/org.springsource.ide.eclipse.commons.gettingstarted/dashboard/1623602427286/common/img/logo_spring.png
.metadata/.plugins/org.springsource.ide.eclipse.commons.gettingstarted/dashboard/1623602427286/common/img/logo_sts.png
.metadata/.plugins/org.springsource.ide.eclipse.commons.gettingstarted/dashboard/1623602427286/common/img/new_32.png
.metadata/.plugins/org.springsource.ide.eclipse.commons.gettingstarted/dashboard/1623602427286/common/img/overlay-incoming.png
.metadata/.plugins/org.springsource.ide.eclipse.commons.gettingstarted/dashboard/1623602427286/common/img/question.png
.metadata/.plugins/org.springsource.ide.eclipse.commons.gettingstarted/dashboard/1623602427286/common/img/spring-logo.png
.metadata/.plugins/org.springsource.ide.eclipse.commons.gettingstarted/dashboard/1623602427286/common/img/springdocs.png
.metadata/.plugins/org.springsource.ide.eclipse.commons.gettingstarted/dashboard/1623602427286/common/img/springdocs_32.png
.metadata/.plugins/org.springsource.ide.eclipse.commons.gettingstarted/dashboard/1623602427286/common/js/application.js
.metadata/.plugins/org.springsource.ide.eclipse.commons.gettingstarted/dashboard/1623602427286/common/js/filter.js
.metadata/.plugins/org.springsource.ide.eclipse.commons.gettingstarted/dashboard/1623602427286/common/js/guide.js
.metadata/.plugins/org.springsource.ide.eclipse.commons.gettingstarted/dashboard/1623602427286/common/js/jquery.js
.metadata/.plugins/org.springsource.ide.eclipse.commons.gettingstarted/dashboard/1623602427286/common/js/modernizer.flexbox.js
.metadata/.plugins/org.springsource.ide.eclipse.commons.gettingstarted/dashboard/1623602427286/index.html
.metadata/.plugins/org.springsource.ide.eclipse.dashboard.ui/feeds/dashboard.feeds.blogs/-549550714.xml
.metadata/.plugins/org.springsource.ide.eclipse.dashboard.ui/feeds/dashboard.feeds.update/623127801.xml
.metadata/version.ini
.metadata/.log
.metadata/.plugins/org.eclipse.core.resources/.root/.indexes/properties.index
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.jdt.ui.prefs
.metadata/.plugins/org.eclipse.jdt.core/javaLikeNames.txt
.metadata/.plugins/org.eclipse.jdt.launching/.install.xml
.metadata/.plugins/org.eclipse.jdt.launching/libraryInfos.xml
.metadata/.plugins/org.eclipse.ui.workbench/workingsets.xml
.metadata/version.ini
*.index
*.txt
/.metadata/
.metadata
